
body {
    font-style: normal;
    line-height: normal;
    background-color: #0F1022;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body {
    height: 100%;
    margin: 0;
}


.container {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: linear-gradient(161deg, #383745 0%, #161525 73.97%, #161525 73.97%);
    width: 100%;
    height: 100%;
}

.container-forms {
    margin: 20px 20px 20px 20px;
    width: 100%;
}

.task-topic {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.input-box {
    display: block;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
    background-color: #5A5A64;
}


::placeholder {
    color: #C8C8D2;
    font-size: 22px;
}

.name-task {
    margin: 0 auto;
    height: 64px;
    border: none;
    outline:none;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}


.task-box-text {
    width: 100%;
    border-radius: 8px;
    background: none;
    border: none;
    outline:none;
    display: flex;
    resize: none;
    padding: 0;
    height: 64px;
    color: white;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}


.counter-task-box {
    padding-left: 10px;
    font-size: 14px;
    color: #C8C8D2;
}



.counter-name {
    padding-left: 10px;
    font-size: 14px;
    color: #C8C8D2;
}


.task-date {
    display: flex;
    justify-content: space-between;
    height: 64px;
    font-size: 22px;
}


::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin: 0px;
}



.date-description {
    display: flex;
    align-items: center;
    padding-left: 15px;;
}

.date-style {
    background: none;
    border: none;
    outline: none;
    padding-right: 5px;
    color: orange;
    font-size: 16px;
}

.priority-task {
    height: 90px;
    background-image: url("star.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1.150rem 1.150rem;
    font-size: 22px;
}

.prority-topic {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.radio-priority {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 7px ;
}

.priority-description {
    font-size: 19px;
    margin-left: -20px;
    margin-top: 3px;

}


.checkbox {
    display: inline-block;
}

.checkbox-inp {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
}

.checkbox-inner {
    display: inline-block;
    position: relative;
    font-size: 22px;
    padding: 8px;
    margin-left: 5px;
}

.checkbox-inner::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 18px;
    border-radius: 20px;
    background-color: red;
    margin-top: 12px;
    margin-left: 145px;
    transition: background-color .4s;
}


.checkbox-inner::after {
    display: block;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    background-color: white;
    margin-left: 136px;
    margin-top: -21.5px;
    left: 10px;
    transition: background-color .4s , left .4s;
}

.checkbox-inp:checked + .checkbox-inner::before {
    background-color: #13CE66
}

.checkbox-inp:checked + .checkbox-inner::after {
    background-color: white;
    left: 30px;
}

.notifications {
    flex-direction: column;
    align-items: flex-start;
    height: 42px;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
}

.notifications.show {
    height: 120px;
}

.notifications-div {
    padding-left: 15px;
    font-size: 22px;
}

.times {
    background: none;
    border: none;
    outline: none;
    color: orange;
    font-size: 20px;
}

.button-submit {
    height: 50px;
    background: #373644
}

.btn-submit {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
}

.btn-submit:active {
    transform: scale(0.96);
}



.validate-input:invalid,
.validate-input:valid {
  background-image: url("star.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1.150rem 1.150rem;
}
.validate-input:valid {
  background-image: none;
}

input[type='radio'] {
    accent-color: #13CE66;
}
