body {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.task-topic {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input-box {
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    background: white;
    border: 2px solid #7784ee;
    margin: 0 15px;
    margin-bottom: 20px;
    padding: 10px;
}

.name-task {
    font-size: 20px;
    outline:none;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding-right: 10px;
    width: 100%;
}

.task-box-text {
    font-size: 20px;
    outline:none;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding-right: 10px;
    width: 100%;
    resize: none;
}

.counter-task-box {
    padding-left: 5px;
    font-size: 14px;
    color: #C8C8D2;
}

.counter-name {
    padding-left: 5px;
    font-size: 14px;
    color: #C8C8D2;
}

.date-style {
    background: none;
    border: none;
    outline: none;
    color: orange;
    font-size: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("date.svg");
    width: 20px;
    height: 20px;
    border-width: thin;
}

.priority-task {
    background-image: url("star.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1.5rem 1.5rem;
}

.name-task {
    background-image: url("star.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1.5rem 1.5rem;
}

.radio-priority {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.radio-priority input[type="radio"] {
    display: none;
}

.radio-priority label {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    padding: 7px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    border: 0.5px solid #808080;
    color: #808080;
    margin: 0 15px;
}

/* Добавим стиль для сброса стандартных стилей активного состояния на мобильных устройствах */
@media only screen and (max-width: 767px) {
    .radio-priority label:active {
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

#ordinary:checked + label {
    border-color: #08A0F7;
    color: #08A0F7;
    background: #E1F2FC;
}

#average:checked + label {
    border-color: #E18109;
    color: #E18109;
    background: #FFF8EF;
}

#urgent:checked + label {
    border-color: #F85640;
    color: #F85640;
    background: #FFF8F8;
}


.check {
    display: flex;
    align-items: flex-start;
}

.check-text {
    padding-right: 10px;
}

.notifications-div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* Изменено на max-height */
}

.times {
    background: none;
    border: none;
    outline: none;
    color: orange;
    font-size: 20px;
}

.button-submit {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
}

.btn-submit {
    font-size: 25px;
    font-weight: bold;
    color: #13854E;
    border: 0.5px solid #34A770;
    background: #DCF3EB;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 15px;
}

.btn-submit:active {
    transform: scale(0.96);
}

.validate-input:invalid,
.validate-input:valid {
  background-image: url("star.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1.5rem 1.5rem;
}
.validate-input:valid {
  background-image: none;
}