<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма создания задачи</title>
    <link type="text/css" href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />
</head>
<body>

    <h2>Форма создания задачи</h2>

    <form id="taskForm" onsubmit="submitForm(event)">
         <!-- Добавляем скрытое поле для user_id -->
        <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">

        <label for="taskTitle">1. Название задачи:</label>
        <input type="text" id="taskTitle" name="taskName" required>

        <label for="taskDescription">2. Описание задачи:</label>
        <textarea id="taskDescription" name="taskDescription" rows="4" required></textarea>


        <button type="submit">Создать задачу</button>
    </form>

    <script>
        function submitForm(event) {
            event.preventDefault();

            // Получаем значения полей формы
            var taskName = document.getElementById("taskTitle").value;
            var taskDescription = document.getElementById("taskDescription").value;
            var userId = document.getElementById("user_id").value;

            // Создаем объект JSON
            var jsonData = {
                taskName: taskName,
                taskDescription: taskDescription,
                user_id: userId
            };

            // Отправляем данные на сервер
            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>