<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Page</title>
    <link type="text/css" href="{{ url_for('static', filename='tasks.css')}}" rel="stylesheet" />
</head>
<body>
    <div id="jsonContainer" data-tasks='{{ tasks_json | tojson | safe }}'></div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        let tg = window.Telegram.WebApp; //получаем объект webapp телеграма
        tg.expand(); //расширяем на все окно

        // Извлекаем JSON-данные из атрибута data-tasks
        var tasksData = JSON.parse(document.getElementById('jsonContainer').getAttribute('data-tasks'));

        // Функция для создания блока и добавления его на страницу
        function addJsonBlock(taskData, index) {
            var container = document.getElementById('jsonContainer');
            var jsonBlock = document.createElement('div');
            jsonBlock.className = 'jsonBlock'; // Общий класс для всех элементов JSON

            // Отображение названия задачи
            jsonBlock.innerHTML += '<div class="detailBlock taskNameContainer"><strong class="taskLabel">Название задачи:</strong><span class="taskValue">' + taskData.task_name + '</span></div>';

            // Отображение описания задачи
            jsonBlock.innerHTML += '<div class="detailBlock taskDescriptionContainer"><strong class="taskLabel">Описание задачи:</strong><span class="taskValue">' + taskData.task_description + '</span></div>';

            // Отображение даты выполнения
            var dateTerm = new Date(taskData.date_term);
            jsonBlock.innerHTML += '<div class="detailBlock taskDateContainer"><strong class="taskLabel">Дата выполнения:</strong><span class="taskValue">' + dateTerm.toLocaleDateString() + '</span></div>';

            // Отображение приоритета
            var priorityMapping = {
                'average': 'Средний',
                'ordinary': 'Обычный',
                'urgent': 'Срочный'
            };
            jsonBlock.innerHTML += '<div class="detailBlock taskPriorityContainer"><strong class="taskLabel">Приоритет:</strong><span class="taskValue">' + priorityMapping[taskData.task_priority] + '</span></div>';

            // Отображение статуса уведомлений
            jsonBlock.innerHTML += '<div class="detailBlock taskStatusContainer"><strong class="taskLabel">Статус уведомлений:</strong><span class="taskValue">' +
                (taskData.notification ? '<span class="notificationEnabled">Включены</span>' : '<span class="notificationDisabled">Выключены</span>') +
                '</span></div>';

            // Если уведомления включены, отображение типа уведомлений и времени
            if (taskData.notification) {
                if (taskData.notify_type === 'daily') {
                    jsonBlock.innerHTML += '<div class="detailBlock dailyNotificationContainer"><strong class="taskLabel">Уведомлять ежедневно:</strong><span class="taskValue">в ' + taskData.notify_time + '</span></div>';
                } else if (taskData.notify_type === 'once') {
                    jsonBlock.innerHTML += '<div class="detailBlock onceNotificationContainer"><strong class="taskLabel">Уведомить только:</strong><span class="taskValue">' + dateTerm.toLocaleDateString() + ' в ' + taskData.notify_time + '</span></div>';
                }
            }

            // Добавление кнопки "Удалить" с обработчиком события
            var deleteButton = document.createElement('button');
            deleteButton.textContent = 'Удалить';
            deleteButton.className = 'deleteButton';
            deleteButton.addEventListener('click', function() {
                deleteTask(index);
            });
            jsonBlock.appendChild(deleteButton);

            container.appendChild(jsonBlock);
        }

        // Функция удаления задачи
        function deleteTask(index) {
            var deletedTask = tasksData[index];

            fetch('/delete_task', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ deletedTask: deletedTask }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Deleted Task:', deletedTask);

                    // Обновляем массив tasksData, удаляя удаленную задачу
                    tasksData.splice(index, 1);

                    updateView();  // Обновляем отображение после удаления
                } else {
                    console.error('Failed to delete task:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        // Обновление инфы на странице после удаления задачи
         function updateView() {
            var container = document.getElementById('jsonContainer');
            container.innerHTML = '';

            if (tasksData.length === 0) {
                var noTasksText = document.createElement('p');
                noTasksText.textContent = 'Задач нет';
                noTasksText.className = 'noTasksText'; // Добавьте класс для стилизации в CSS
                container.appendChild(noTasksText);
            } else {
                tasksData.forEach(addJsonBlock);
            }
        }

        updateView();
    </script>
</body>
</html>